<script src="https://giscus.app/client.js"
        data-repo="Weaxs/weaxsey.org"
        data-repo-id="R_kgDOIdSzHA"
        data-category="Announcements"
        data-category-id="DIC_kwDOIdSzHM4Cct0c"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>